@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
body{
    font-family: "Roboto", sans-serif;
}
header h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}
header{
    background-color: #190955;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav ul li {
    list-style: none;
}
nav ul li  a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
nav ul li  a:hover{
    font-size: 1.1rem;
    color:antiquewhite;
}
/* halkan waxaa ka bilaabmaya stylinka qebta hero */
.container{
    max-width: 1100px;
    margin-inline: auto;
}
#home{
    height: 90vh;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.left-hero {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    gap: 1rem;
}
.left-hero-he{
    display: none;
}
.left-hero-h{
    display: block;
}
.left-hero h1{
    font-size: 3rem;
    font-weight: 600;
    color: #190955;
    line-height: 4rem;
}
span{
    color: #c06c03;
}
.left-hero p{
    color: #190955;
    font-size: 1.5rem;
    font-weight: 500;
}
.left-hero a, .project-btn{
    background-color: #c06c03;
    padding: .4rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1rem;
    transition: background-color 0.3s ease-in-out;
}
.left-hero a:hover,.project-btn:hover{
    background-color: rgba(192, 108, 3, 0.5);
}
.left-hero .social-media{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: .8rem;
}
.social-media i{
    background-color: #190955;
    padding: .3rem .5rem;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.social-media i:hover{
    background-color: rgba(25, 9, 85, 0.7);
}
/* qeyta about-ka ..................................*/
#about{
    height: 90vh;
}
.about-left img{
    width: 400px;
}
.container-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* align-items: center; */
}
.about-right{
    display: flex;
    /* justify-content: center; */
    align-items: self-start;
    flex-direction: column;
    gap: 1rem;
}
.about-right h2{
    color: #190955;
    font-size: 2rem;
    font-weight: 500;
}
.about-right p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(25, 9, 85,0.5);
    line-height: 2rem;
    margin-block: 1rem;
}
.social-about i{
    background-color:#c06c03 ;
}
.social-about i:hover{
    background-color: rgba(192, 108, 3,.5);
}
/* styling projects built ...........................*/

#projects{
    height: 100vh;
    margin-top: 3rem;
    margin-bottom: 5rem;

}
#projects h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #190955;
    margin-bottom: 5rem;
}
.spa{
    border-bottom: 4px dotted #c06c03;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.project-showing img{
    width: 100%;
    height: 250px;
}
.project-showing{
    background-color: #ffffff;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 3px 3px 8px rgba(25, 9, 85,0.5);
    transition: transform 0.3s ease-in-out;
}
.project-showing:hover{
    transform:scale(1.1);
}
.project-showing h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-block: .5rem;
    color: #190955;
}
.project-showing p{
    font-size: 1rem;
    color: rgba(25, 9, 85, 0.5);
    line-height: 2rem;
}
.project-btn{
    margin-block: .7rem;
}

/* stylinka qeybta skillska */
#skills{
    height: 80vh;
}
#skills h1{
    font-size: 3rem;
    font-weight: 600;
    color: #190955;
    text-align: center;
    margin-bottom: 5rem;
}

.skill{
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-wrap: wrap;
    gap: 2rem;
}
.html{
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(25, 9, 85,0.5);
    padding: 1rem;
    border-radius: 1rem;
}
.html i{
    font-size: 10rem;
    transition: transform 0.6s ease-in-out;
}
.html i:hover{
    transform: translateX(30%);
    z-index: 1;
}
.fa-html5 {
    color: #c06c03;
}
.fa-css3{
    color: #039be5;
}
.fa-square-js{
    color: #ffd600;
}
.fa-git{
    color: #f4511e;
}
.fa-github{
    color: #190955;
}
/* contact */

#contact{
    background-color: #190955;
    height: 20vh;
}
.kii-guud{
    max-width: 700px;

}
.contact-us{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    
    /* justify-content: space-evenly; */
    /* align-items: center; */
    color: #fff;

}
.contact-us nav ul{
    flex-direction: column;
    align-items: self-start;
    gap: .5rem;
    
}
.contact-us nav ul li a:hover{
    border-bottom: 1px solid #c06c03;
    font-size: 1.2rem;
}
.logo h1{
    font-size: 2rem;
    font-weight: 400;
}
.contect-header h1{
    font-size: 1.7rem;
}
.social-contact{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.social-icon{
    display: flex;
    gap: 1rem;
}
.social-icon i{
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.social-icon i:hover{
    transform: scale(1.5);
}



/* halkan waxaa ka bilaabmaya hagaajinta responsive-ka */

@media(max-width:780px){
    /* hagajinta navka */
    header{
    background-color: #190955;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    }
    /* hagajinta heroga */
    #home{
    height: 90vh;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

    .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
}
.left-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.left-hero-he{
    display: none;
}
.left-hero-h{
    display: block;
}
.left-hero h1{
    font-size: 3rem;
    font-weight: 600;
    color: #190955;
    line-height: 4rem;
    text-align: center;
}
/* hagaajinta qebta aboutka */
#about{
    height: 90vh;
    margin-bottom: 30rem;
}
.about-left img{
    width: 400px;
}
.container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    /* align-items: center; */
}
.about-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    padding: 0 7rem;
}
.about-right h2{
    color: #190955;
    font-size: 1.5rem;
    font-weight: 500;
}
.about-right p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(25, 9, 85,0.5);
    line-height: 2rem;
    margin-block: 1rem;
}
/* stylinka qeybta projects */
#projects{
    height: 100vh;
    margin-top: 30rem;
    margin-bottom: 80rem;

}
#projects h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: #190955;
    margin-bottom: 6rem;
}
.spa{
    border-bottom: 4px dotted #c06c03;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
    padding: 0 10rem;
}
.project-showing img{
    width: 100%;
    height: 250px;
}
.project-showing{
    background-color: #ffffff;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 3px 3px 8px rgba(25, 9, 85,0.5);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

/* stylinka qeybta skillska */
#skills{
    height: 80vh;
}
#skills h1{
    font-size: 3rem;
    font-weight: 600;
    color: #190955;
    text-align: center;
    margin-bottom: 5rem;
}

.skill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 2rem; */
    padding: 0 10rem;
     text-align: center;
}
.html{
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(25, 9, 85,0.5);
    padding: 1rem;
    border-radius: 1rem;
}
.html i{
    font-size: 5rem;
    transition: transform 0.6s ease-in-out;
}
.html i:hover{
    transform: translateX(30%);
    z-index: 1;
}

}






/* mobile responsive weeye qeybtani */

@media(max-width:500px){
    .right-hero{
        display: none;
    }
    
.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 4rem; */
    padding: 0 6rem;
    margin-bottom: 3rem;


}
.left-hero {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1rem;
    text-align: center;


}
.left-hero-h{
    display: none;
}
.left-hero-he{
    display: block;
}
.left-hero h1{
    font-size: 2rem;
    font-weight: 600;
    color: #190955;
    line-height: 2.5rem;
}
/* hagaajinta qebta aboutka */
#about{
    height: 90vh;
    margin-bottom: 60rem;
}
.about-left img{
    width: 300px;
}
.container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    /* align-items: center; */
}
.about-right{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: .3rem;
    text-align: left;
    /* padding: 0 7rem; */
}
.about-right h2{
    color: #190955;
    font-size: 1rem;
    font-weight: 500;
}
.about-right p{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(25, 9, 85,0.5);
    line-height: 1.5rem;
    margin-block: 1rem;
}
/* stylinka qeybta projects */
#projects{
    height: 100vh;
    /* margin-top: 30rem; */
    margin-bottom: 120rem;

}
#projects h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #190955;
    margin-bottom: 3rem;
}
.spa{
    border-bottom: 4px dotted #c06c03;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
    padding: 0 4rem;
}
.project-showing img{
    width: 100%;
    height: 250px;
}
.project-showing{
    background-color: #ffffff;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 3px 3px 8px rgba(25, 9, 85,0.5);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}
/* stylinka qeybta skillska */
#skills{
    height: 80vh;
    margin-bottom: 40rem;
}
#skills h1{
    font-size: 3rem;
    font-weight: 600;
    color: #190955;
    text-align: center;
    margin-bottom: 5rem;
}

.skill{
    display: grid;
    grid-template-columns:1fr;
    /* gap: 2rem; */
    padding: 0 8rem;
     text-align: center;
}
.html{
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(25, 9, 85,0.5);
    padding: 1rem;
    border-radius: 1rem;
}
.html i{
    font-size: 10rem;
    transition: transform 0.6s ease-in-out;
}
.html i:hover{
    transform: translateX(30%);
    z-index: 1;
}


/* stylinka qeybta footerla */
#contact{
    background-color: #190955;
    height: 20vh;
}
.kii-guud{
    max-width: 500px;

}
.contact-us{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    
    /* justify-content: space-evenly; */
    /* align-items: center; */
    color: #fff;

}
.contact-us nav ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
}
.contact-us nav ul li a:hover{
    border-bottom: 1px solid #c06c03;
    font-size: 1.2rem;
}
.logo h1{
    display: none;
}
.contect-header h1{
    font-size: 1.7rem;
}
.social-contact{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.social-icon{
    display: flex;
    gap: 1rem;
}
.social-icon i{
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.social-icon i:hover{
    transform: scale(1.5);
}



}